<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja</title>
    <link rel="stylesheet" href="/edit.css">
    <link rel="stylesheet" href="/commonsForm.css">
    <link rel="stylesheet" href="/commons.css">
</head>
<body>

<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="content">
    <form method="post">
        <input type="text" th:field="*{book.title}">
        <input type="text" th:field="*{book.author}">
        <input type="text" th:field="*{book.isbn}" disabled>
        <input type="text" th:field="*{book.price}">
        <input type="text" th:field="*{book.pieces}">
        <input type="submit">
    </form>
</div>

</body>
</html>