<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unicorn</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/commons.css">
</head>
<body>

<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>

<div id="content">
    <th:block th:each="book : ${books}">
        <div class="book-box">
            <div class="title-box" th:text="${book.title}"></div>
            <div class="author-box" th:text="${book.author}"></div>
            <div class="book-data-box">
                <div th:text="'ISBN: ' + ${book.isbn}"></div>
                <div th:text="'Cena: ' + ${book.price} + 'zł'"></div>
                <div th:text="'Ilość: ' + ${book.pieces}"></div>
            </div>
            <a th:if="${isLogged} and ${book.pieces}>0" th:href="@{/addToBasket/{isbn}(isbn=${book.isbn})}" class="buy-button"></a>
            <a th:if="${isLogged} and ${role=='ADMIN'}" th:href="@{/edit/{isbn}(isbn=${book.isbn})}" class="edit-button"></a>
        </div>
    </th:block>
</div>

</body>
</html>